name: Check unused dependencies
on:
  push: 
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

env:
  CARGO_TERM_COLOR: always

jobs:
  check-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install the Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-machete
        run: cargo install cargo-machete

      - name: Check for unused dependencies
        run: cargo machete --with-metadata
        continue-on-error: true
        # We use continue-on-error to be able to see the output of the command in the logs
        # even if unused dependencies are found.
        # The job will still fail if unused dependencies are found.

      - name: Upload machete report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: machete-report
