name: Check unused dependencies
on:
  push: 
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

env:
  CARGO_TERM_COLOR: always

jobs:
  check-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install the Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-udeps
        run: cargo install cargo-udeps

      - name: Check for unused dependencies
        run: cargo udeps --all-targets --all-features

      - name: Upload udeps report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: udeps-report
