name: Check unused dependencies
on:
  push: 
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
      - ".github/workflows/check_deps.yml"

env:
  CARGO_TERM_COLOR: always

jobs:
  check-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install the Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-machete
        run: cargo install cargo-machete

      - name: Check for unused dependencies
        run: cargo machete --with-metadata
